.card-game {
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.flipped {
    background-color: inherit;
}

.main-content::before {
    transition: margin-left 0.5s ease;
    content: '';
    display: block;
    height: 60px;
}

#game-container {
    width: 400px;
    transition: margin-left 0.5s ease;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

#startBtnContainer {
    position: fixed;
    background-color: #c0c0c059;
    z-index: 2;
}